<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="_id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element._id }} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="cardHolderHash">
    <mat-header-cell *matHeaderCellDef> Hash </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.cardHolderHash }}
    </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="datetime">
    <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.datetime }} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.amount }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
    <mat-cell *matCellDef="let element"
      ><button mat-raised-button color="warn" (click)="deleteItem(element._id)">
        Delete
      </button></mat-cell
    >
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<div class="total_data">
  <div><span>Total:</span> {{ getTotalAmount() }}</div>
  <div><span>Average:</span> {{ getAverageAmount() }}</div>
</div>
<app-csv-upload (updateView)="ngOnInit()" class="csv"></app-csv-upload>
